.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outerwrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;

	h2,h3,p {
		padding: 10px 10px 0 10px;
		margin: 0;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.link, .top-link {
		fill: none;
	}

	// http://nicolasgallagher.com/micro-clearfix-hack/
	.cf:before,
	.cf:after {
	    content: " "; 
	    display: table;
	}

	.cf:after {
	    clear: both;
	}

} // outerwrapper