.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outerwrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;

	h2,h3,p {
		padding: 10px 10px 0 10px;
		margin: 0;
	}

	.graphic {
		margin: 10px 10px;
		p {
			padding: 0;
		}
		p:first-of-type {
			padding: 0 0 0.2em 0;
		}
	}

	.link, .top-link {
		fill: none;
	}


} // outerwrapper