.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outerwrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outerwrapper h2, .outerwrapper h3, .outerwrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outerwrapper .graphic {
  margin: 10px 10px;
}
.outerwrapper .graphic p {
  padding: 0;
}
.outerwrapper .graphic p:first-of-type {
  padding: 0 0 0.2em 0;
}
.outerwrapper .link, .outerwrapper .top-link {
  fill: none;
}
