.outerwrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outerwrapper h2, .outerwrapper h3, .outerwrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outerwrapper .graphic {
  margin: 10px 10px;
}
.outerwrapper .graphic p {
  padding: 0;
}
.outerwrapper .graphic p:first-of-type {
  padding: 0 0 0.2em 0;
}
.outerwrapper .link, .outerwrapper .top-link {
  fill: none;
}
.outerwrapper .key {
  margin: 5px 0;
  overflow: hidden;
}
@media (min-width: 630px) {
  .outerwrapper .key {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 629px) {
  .outerwrapper .key {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.outerwrapper ul {
  overflow: visible;
  padding: 0 10px;
}
.outerwrapper ul li {
  list-style: none;
  padding: 0 0 0 0.5em;
  margin: 4px 0px 8px;
  border-left-width: 1.2em;
  border-left-style: solid;
  line-height: 1.2em;
}
